body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fundo {
  background: #E4D8DA;
 
}

.textoEstilo {
  font-size: 50px;
  color: #a36e77;
}

.rodape {
  background-color: white;
}

.lateral {
  background: white;
  border-radius: 10px;
}


.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: #000; 
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.btn-inf {
  color: #000;
  background-color: #f00de5;
  border-color: #f00dca;
}